.observation-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }
  
  .observation-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .observation-details {
    display: flex;
    flex-direction: column;
  }
  
  .status-type {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .status {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .status-label {
    margin-right: 8px;
  }
  
  .status-indicator {
    width: 20px;
    height: 20px;
    background-color: green; /* Cambia el color según el estado */
    border-radius: 50%;
  }
  
  .type {
    display: flex;
    align-items: center;
  }
  
  .type-label {
    margin-right: 8px;
  }
  
  .responsible,
  .description {
    margin-bottom: 10px;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #8b0032; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
  }
  
  .back-button:hover {
    background-color: #6f0029; /* Color al pasar el cursor */
  }
  