@model GAAP_2024.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProjectModality" class="control-label"></label>
                <input asp-for="ProjectModality" class="form-control" />
                <span asp-validation-for="ProjectModality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectTittle" class="control-label"></label>
                <input asp-for="ProjectTittle" class="form-control" />
                <span asp-validation-for="ProjectTittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectGeneralObjetive" class="control-label"></label>
                <input asp-for="ProjectGeneralObjetive" class="form-control" />
                <span asp-validation-for="ProjectGeneralObjetive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectSpecificObjectives" class="control-label"></label>
                <input asp-for="ProjectSpecificObjectives" class="form-control" />
                <span asp-validation-for="ProjectSpecificObjectives" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectScope" class="control-label"></label>
                <input asp-for="ProjectScope" class="form-control" />
                <span asp-validation-for="ProjectScope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectQueryDocument" class="control-label"></label>
                <input asp-for="ProjectQueryDocument" class="form-control" />
                <span asp-validation-for="ProjectQueryDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectReviewsNumber" class="control-label"></label>
                <input asp-for="ProjectReviewsNumber" class="form-control" />
                <span asp-validation-for="ProjectReviewsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
